*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --ff-sans: "Poppins", sans-serif;

    --fs-400: 0.938rem;
    --fs-600: 1.2rem;
    --fs-700: 2.2rem;
    --fs-900: 2.5rem;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;

    --redColor: hsl(0, 78%, 62%);
    --cyanColor: hsl(180, 62%, 55%);
    --orangeColor: hsl(34, 97%, 64%);
    --blueColor: hsl(212, 86%, 64%);
    --whiteColor: hsl(180, 0%, 100%); 
    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);

}

html {
    font-family: var(--ff-sans);
    font-size: var(--fs-400);
    font-weight: var(--fw-light);
    color: var(--grayishBlue);
}

body {
    background-color: var(--veryLightGray);
    line-height: 1.7;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;
    
}

.conatiner--narrow {
    max-width: 550px;
}

main {
    margin-block-end: 70px;
}

/* styling header section */
header {
    text-align: center;
    margin-block: 80px;
    
}
h1 {
    line-height: 1.5;
    color: var(--veryDarkBlue);
    font-size: var(--fs-900);
    font-weight: var(--fw-light);
}

h1 span {
    font-weight: var(--fw-bold);
}

header p {
    font-size: var(--fs-600);
    margin-block-start: 20px;
    
    
}

/* styling cards */
.cards {
    max-width: 100%;
    margin: 0 auto;
}

.card {
    background: var(--whiteColor);
    max-width: 350px;
    margin-inline: auto;
    margin-block-end: 25px;
    padding: 30px 26px 26px 30px;
    border-radius: .325rem;
    box-shadow: 0px 5px 10px 1px rgb(0 0 0 / 0.1);
}

.card__title {
    color: var(--veryDarkBlue);
    font-size: var(--fs-600);
}

.card__img {
    display: block;
    margin-block-start: 24px;
    margin-inline-start: auto;
}

.card:nth-child(1) {
    border-top: 4px solid var(--cyanColor);
}

.card:nth-child(2) {
    border-top: 4px solid var(--redColor );
}

.card:nth-child(3) {
    border-top: 4px solid var(--orangeColor);
}

.card:nth-child(4) {
    border-top: 4px solid var(--blueColor);
}

@media (min-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 350px);
        column-gap: 25px;
        justify-content: center;
    }
}

@media (min-width: 1023px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 0;   
    }

    .center {
        transform: translateY(50%);
    }
}